@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  bdorder: 2px solid red;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  border-top:solid 1px rgb(70, 70, 70);
  border: 10px solid red;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 10px;
  font-weight: 200;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer {
  display: flex;
  padding: 15px;
}

.header {
  padding: 25px 15px;
}

.footer {
  background-color: #eee;
 
}

.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}